[global]

   workgroup = {{ adworkgroup }}
   security = ADS
   realm = {{ addomain }}
   encrypt passwords = yes

   idmap config *:backend = rid
   idmap config *:range = 5000-100000

   winbind trusted domains only = no
   winbind use default domain = yes
   winbind enum users  = yes
   winbind enum groups = yes
   winbind refresh tickets = yes

   template shell = /bin/bash

include = /etc/samba/shares.conf
